/* src/components/GoToTopButton/GoToTopButton.css */
.go-to-top {
    position: fixed;
    bottom: 20px;
    right: 150px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: #333; 
    border: 2px solid #333; 
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    font-weight: bold;
  }
  
  .go-to-top.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .go-to-top:hover {
    background-color: #f0f0f0; 
    border-color: #007bff; 
  }
  