

/* Existing Styles */
.parallax-container {
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  height: 200vh; /* Full height */
  overflow: hidden;
}

.title {
  font-size: 4em;
  text-shadow: 2px 2px black;
  text-align: center;
  margin: 0;
  background: rgba(255, 0, 0, 0.5);
  background-blend-mode: screen;
  color: white;
  width: 100%;
  padding: 45px;
}

.paragraph1 {
  font-size: 1.8em;
  text-align: center;
  margin: 0;
  color: white;
  text-shadow: 1px 1px black;
  background: rgba(255, 0, 0, 0.5);
  background-blend-mode: screen;
}

.about {
  text-shadow: 1px 1px red;
  background: rgba(255, 255, 255, 0.7);
  background-blend-mode: screen;
  width: 100%;
  padding: 20px;
  text-align: center;
  margin-top: 280px;
  max-height: 300px; /* Set a maximum height */
  overflow-y: auto; /* Make the content scrollable */
}

.paragraph2 {
  font-size: 1.4em;
  font-weight: 400;
  text-align: center;
  color: black;
  text-shadow: 1px 1px 4px black;
  padding: 0 25%;
  line-height: 40px;
}


.paragraph3 {
  font-size: 1.3em;
    text-align: center;
    margin-top: 45px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 3px black;
    padding: 0 150px;
    margin-bottom: 0;
    background-blend-mode: screen;
}


.buttons {
  display: flex;
  gap: 5%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-blend-mode: screen;
}


.button-link {
  background: none;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
  text-decoration: none;
}

.button-link:hover {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}


.buttons button {
  background: none;
  border: none;
  font-size: 1.3em;
  font-weight: bold;
  text-shadow: 1px 1px black;
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s;
}
.buttons button:hover {
  background: rgba(255, 255, 255, 0.342);
  background-blend-mode: screen;
}
.artworks {
  display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    background-blend-mode: screen;
    background: rgba(255, 0, 0, 0.5);
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;

}
h2 {
  margin: 25px;
}


